.movies {
  background-color: #f0f2f5;
  padding: 30px 10px 100px;
  min-height: 70vh;

  &__container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 320px);
  }

  &__pane {
    display: flex;
    width: 300px;
    display: flex;
    margin: 10px;
    position: relative;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: max(0% + 0px, min(0% + 8px, -999900% + 1.53185e7px)) / 8px;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 2px;
  }

  &__nothing {
    text-align: center;
    margin: auto;
    font-size: 28px;
    font-weight: 100;
    padding-top: 100px;
  }

  &__img {
    width: 100px;
    height: 150px;
    cursor: pointer;
  }

  &__detail {
    margin-left: 10px;
  }

  &__title {
    color: black;
    text-decoration: none;
  }
}
